body {
  background-image: url(imagenes/ac.jpg);
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px 200px;
  text-align: center;
}

div {
  margin: 20px;
  background-color: white;
}

.modA {
  background-image: url(imagenes/back_mantel.jpg);
  grid-row: 1;
  grid-column: 1;
  border: 0.5px solid black;
}

.modB {
  background-image: url(imagenes/back_mantel.jpg);
  grid-row: 1;
  grid-column: 2;
  border: 0.5px solid black;
  background-clip: content-box;
  padding: 10%;
}

.modC {
  background-image: url(imagenes/back_mantel.jpg);
  grid-row: 1;
  grid-column: 3;
  border: 0.5px solid black;
  background-size: 100% 100%;
}

.modD {
  background-image: url(imagenes/back_mantel.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  grid-row: 1;
  grid-column: 4;
  border: 0.5px solid black;
  background-size: 100% 100%;
  padding: 10%;
}

.modE {
  background-image: url(imagenes/dh.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  grid-row: 2;
  grid-column: 1;
  border: 0.5px solid black;
}

.modF {
  background-image: url(imagenes/dh.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  grid-row: 2;
  grid-column: 2;
  border: 0.5px solid black;
  padding: 10%;
}

.modG {
  background-image: url(imagenes/dh_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-row: 2;
  grid-column: 3;
  border: 0.5px solid black;
  padding: 10%;
}

.modH {
  background-image: url(imagenes/dh_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-row: 2;
  grid-column: 4;
  border: 0.5px solid black;
  padding: 10%;
}

.modI {
  background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
  grid-row: 3;
  grid-column: 1;
  border: 0.5px solid black;
}

.modJ {
  background: linear-gradient(
    to bottom,
    rgba(240, 183, 161, 1) 0%,
    rgba(140, 51, 16, 1) 80%,
    rgba(117, 34, 1, 1) 51%,
    rgba(191, 110, 78, 1) 100%
  );
  grid-row: 3;
  grid-column: 2;
  border: 0.5px solid black;
}

.modK {
  background: linear-gradient(
    to top,
    rgba(50, 116, 45, 1) 0%,
    rgba(239, 239, 210, 1) 100%
  );
  grid-row: 3;
  grid-column: 3;
  border: 0.5px solid black;
}

.modL {
  background: linear-gradient(
    to top,
    rgba(50, 116, 45, 1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  grid-row: 3;
  grid-column: 4;
  border: 0.5px solid black;
}
